body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.hero {
  background: #00a884;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.btn {
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}
.presentation {
  padding: 2rem;
  background: #fff;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.presentation h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.presentation p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}
